.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.list{
    margin: 0;
    padding: 0 8px 0 16px;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
}

.ingredientItem {
    padding: 0;
    list-style-type: none;
    margin-bottom: 32px;
}

.ingredientItem:last-child {
    margin-bottom: 40px;
}

