.section {
    width: 49%;
}

.ingredientList {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 60vh;
    overflow-y: scroll;
}


.ingredientList::-webkit-scrollbar {
    width: 12px;
    height: 300px;
    background-color: #2f2f37;
}

.ingredientList::-webkit-scrollbar-thumb {
	background: #8585AD;
	border-radius: 6px;
}

.item {
    margin: 0;
    padding: 0;
    width: 100%; 
}
