.header {
    box-sizing: border-box;
    height: 88px;
    background: #1C1C21;
    position: sticky;
    position: -webkit-sticky;
    top: -1px;
    z-index: 99;
    padding: 0 20px;
}

.nav {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.text {
    font-size: 16px;
    line-height: 24px;
    color: #F2F2F3;
}

.secondarytext {
    composes: text;
    color: #8585AD;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.logocontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}